@using Microsoft.AspNetCore.Http
@model System.Collections.Generic.IEnumerable<Model.Player>

@{
    ViewBag.Title = "Player DashBoard";
    Layout = "_Layout";
}

<h2>Player DashBoard</h2>

<fieldset>
    <p>Welcome @Context.Session.GetString("Username")</p>
</fieldset> 