@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Netherlands<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Rob@bunkystudios.com">Rob@bunkystudios.com</a><br />
</address>
