/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/***************************************************/
/* Login Links */
.login-links {
    float: right;
}

/* Sidebar*/
.sidenav {
    width: 150px;
    position: fixed;
    background: #eee;
    margin-top: 20px;
    margin-right: 20px;
    color: #333;
}
.sidenav p {
    margin: 0px;
    font-size: 12px;
}
.sidenav h2 {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: burlywood;
    margin: 0px;
}
.main-body {
    margin-left: 160px; /* Same width as the sidebar + left position in px */
    padding-bottom: 20px; /* Footer height */
}
.sidenav-block-content {
    padding: 5px;
}
.sidenav-block-content ul {
    list-style: none;
    padding: 0px;
}
.bunky-blue {
    color: #fff !important;
    background-color: #2196F3 !important;
}
.bunky-container, .bunky-panel {
    padding: 0.1px 16px;
}
.bunky-round-xlarge {
    border-radius: 16px;
    height: 8px;
}
.progress-bar-bunky {
    margin-bottom: inherit;
}
hr.bunky-hr {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-top: 2px solid #a70de8;
}
.button-energy {
    display: inline-block;
    padding: 1px 15px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4e4caf;
    border-radius: 8px;
    box-shadow: 0 5px #999;
}
.button-energy:hover {
    background-color: #3531ee;
    color: #fff;
}
.button-energy:active {
    background-color: #3531ee;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
p.button-energy-region {
    margin-bottom: 10px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    height: 20px; /* Footer height */
}
body {
    color: #fff;
    background-color: #424242;
}

/* Body */
.notice-succes-status {
    color: greenyellow;
}
.notice-failure-status {
    color: chocolate;
}


/* Table for Lists */
.table-list-style-bunky th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    font-size:23px;
    font-weight: 100;
    padding:24px;
}
.table-list-style-bunky th:first-child {
    border-top-left-radius:5px;
}
.table-list-style-bunky th:last-child {
    border-top-right-radius:5px;
}
.table-list-style-bunky tr td:first-child {
    color:#000;
}
.table-list-style-bunky tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
}
.table-list-style-bunky tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}
.table-list-style-bunky tr:nth-child(odd) td {
    background:#EBEBEB;
}
.table-list-style-bunky tr:nth-child(odd):hover td {
    background:#4E5066;
}
.table-list-style-bunky td {
    background:#FFFFFF;
    padding:20px;
    font-size:18px;
    border-right: 1px solid #C1C3D1;
}